In [1]:
#%matplotlib inline

import pandas as pd
import numpy as np
from scipy import stats
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm
#import xgboost as xgb

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

sns.set(style='white', context='notebook', palette='bright')
from sklearn.externals.six import StringIO
#import pydotplus
import sys
sys.executable
pd.options.display.max_rows = 999

/Users/adik/anaconda3/envs/zillow/lib/python3.6/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

Load the train and test dataset. We will use train variable to learn the model

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train.shape

(891, 12)

In [3]:
df_attributes = df_train.dtypes.reset_index()
df_attributes.columns = ['Column_name','Column_type']
df_attributes

    Column_name Column_type
0   PassengerId       int64
1      Survived       int64
2        Pclass       int64
3          Name      object
4           Sex      object
5           Age     float64
6         SibSp       int64
7         Parch       int64
8        Ticket      object
9          Fare     float64
10        Cabin      object
11     Embarked      object

Calculate the missing count for each column and the missing ratio

In [4]:
df_missing = df_train.isnull().sum().reset_index()
df_missing.columns = ['Column_name','missing_count']
df_missing['missing_ratio'] = df_missing.missing_count/df_train.shape[0]
df_missing.loc[df_missing.missing_ratio > 0.1]

   Column_name  missing_count  missing_ratio
5          Age            177       0.198653
10       Cabin            687       0.771044

We will tackle the Age column

In [5]:
df_train.Age.describe().reset_index()

   index         Age
0  count  714.000000
1   mean   29.699118
2    std   14.526497
3    min    0.420000
4    25%   20.125000
5    50%   28.000000
6    75%   38.000000
7    max   80.000000

In [23]:
S = df_train.Age[df_train.Name.str.contains("Master")].fillna(value =100).reset_index()
df_train.Age[df_train.Name.str.contains("Miss")].fillna(value =100)

S

    index     Age
0       7    2.00
1      16    2.00
2      50    7.00
3      59   11.00
4      63    4.00
5      65  100.00
6      78    0.83
7     125   12.00
8     159  100.00
9     164    1.00
10    165    9.00
11    171    4.00
12    176  100.00
13    182    9.00
14    183    1.00
15    193    3.00
16    261    3.00
17    278    7.00
18    305    0.92
19    340    2.00
20    348    3.00
21    386    1.00
22    407    3.00
23    445    4.00
24    480    9.00
25    489    9.00
26    549    8.00
27    709  100.00
28    751    6.00
29    755    0.67
30    787    8.00
31    788    1.00
32    802   11.00
33    803    0.42
34    819   10.00
35    824    2.00
36    827    1.00
37    831    0.83
38    850    4.00
39    869    4.00