In [1]:
#%matplotlib inline

import pandas as pd
import numpy as np
from scipy import stats
import sklearn as sk
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import svm
#import xgboost as xgb

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

sns.set(style='white', context='notebook', palette='bright')
from sklearn.externals.six import StringIO
#import pydotplus
import sys
sys.executable
pd.options.display.max_rows = 999
pd.options.mode.chained_assignment = None

/Users/adik/anaconda3/envs/zillow/lib/python3.6/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

Load the train and test dataset. We will use train variable to learn the model

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_Survived = df_train['Survived']
print ("The shape of the Train set",df_train.shape )
print ("The shape of the Test set",df_test.shape )

The shape of the Train set (891, 12)
The shape of the Test set (418, 11)

We need to understand the type of attributes it has.

In [3]:
def attributes(df_data):
    df_attributes = df_data.dtypes.reset_index()
    df_attributes.columns = ['Column_name','Column_type']
    return df_attributes
print("Datails of the Train set Column")
data = attributes(df_train)
print(data)
print(" ")
print("Datails of the Test set Column")
data = attributes(df_test)
print(data)

Datails of the Train set Column
    Column_name Column_type
0   PassengerId       int64
1      Survived       int64
2        Pclass       int64
3          Name      object
4           Sex      object
5           Age     float64
6         SibSp       int64
7         Parch       int64
8        Ticket      object
9          Fare     float64
10        Cabin      object
11     Embarked      object

Datails of the Test set Column
    Column_name Column_type
0   PassengerId       int64
1        Pclass       int64
2          Name      object
3           Sex      object
4           Age     float64
5         SibSp       int64
6         Parch       int64
7        Ticket      object
8          Fare     float64
9         Cabin      object
10     Embarked      object

Calculate the missing count for each column and the missing ratio

In [4]:
def missing_values(df_data):
    df_missing = df_data.isnull().sum().reset_index()
    df_missing.columns = ['Column_name','missing_count']
    df_missing['missing_ratio'] = df_missing.missing_count/df_data.shape[0]
    return df_missing.loc[df_missing.missing_ratio > 0.1]

print ("Missing values from the Train set")
data = missing_values(df_train)
print(data)
print(" ")
data = missing_values(df_test)
print ("Missing values from the Test set")
print(data)

Missing values from the Train set
   Column_name  missing_count  missing_ratio
5          Age            177       0.198653
10       Cabin            687       0.771044

Missing values from the Test set
  Column_name  missing_count  missing_ratio
4         Age             86       0.205742
9       Cabin            327       0.782297

We will tackle the Age column

In [5]:
df_train.Age.describe().reset_index()

   index         Age
0  count  714.000000
1   mean   29.699118
2    std   14.526497
3    min    0.420000
4    25%   20.125000
5    50%   28.000000
6    75%   38.000000
7    max   80.000000

As we will update the missing values in the Age attribute, we need to look into the Name attribute as we cannot update directly with mean value. So we will update the missing value according to the title used for the Name in the Name attribute

In [6]:
def updating_missing_values (df_data):
    name_title = ['Mrs.','Miss.','Mr.','Dr.','Rev.','Major.','Capt.','Col.','Master.','Don.','Ms.','Mme.','Mlle.','Lady.','Countess.','Sir.','Jonkheer.']
    for title in name_title:
        df_update = df_data.loc[df_train.Name.str.contains(title,regex=False)]
        df_update.Age.fillna(inplace=True,value=np.around(df_update.Age.mean()))
        print("Mean value for the title",title, "is",np.around(df_update.Age.mean()))
        df_data.update(df_update,join='left',overwrite=True)

    df_missing = df_data.isnull().sum().reset_index()
    df_missing.columns = ['Column_name','missing_count']
    df_missing['missing_ratio'] = df_missing.missing_count/df_data.shape[0]
    return df_missing.loc[df_missing.missing_ratio > 0.1],df_data
    
missing_data , df_train = updating_missing_values(df_train)
print(" ")
missing_data , df_test = updating_missing_values(df_test)

Mean value for the title Mrs. is 36.0
Mean value for the title Miss. is 22.0
Mean value for the title Mr. is 32.0
Mean value for the title Dr. is 42.0
Mean value for the title Rev. is 43.0
Mean value for the title Major. is 48.0
Mean value for the title Capt. is 70.0
Mean value for the title Col. is 58.0
Mean value for the title Master. is 5.0
Mean value for the title Don. is 40.0
Mean value for the title Ms. is 28.0
Mean value for the title Mme. is 24.0
Mean value for the title Mlle. is 24.0
Mean value for the title Lady. is 48.0
Mean value for the title Countess. is 33.0
Mean value for the title Sir. is 49.0
Mean value for the title Jonkheer. is 38.0

Mean value for the title Mrs. is 29.0
Mean value for the title Miss. is 32.0
Mean value for the title Mr. is 30.0
Mean value for the title Dr. is 27.0
Mean value for the title Rev. is 26.0
Mean value for the title Major. is nan
Mean value for the title Capt. is nan
Mean value for the title Col. is nan
Mean value for the title Master. is 30.0
Mean value for the title Don. is 50.0
Mean value for the title Ms. is nan
Mean value for the title Mme. is 29.0
Mean value for the title Mlle. is nan
Mean value for the title Lady. is nan
Mean value for the title Countess. is nan
Mean value for the title Sir. is nan
Mean value for the title Jonkheer. is nan

In [7]:
df_train.drop(inplace=True,labels=['Cabin','Ticket','Embarked'],axis=1)
df_test.drop(inplace=True,labels=['Cabin','Ticket','Embarked'],axis=1)

In [8]:
df_pclass = df_train.Pclass.value_counts().reset_index()
df_pclass.columns = ['Pclass','Pclass_count']
df_pclass.sort_values(by='Pclass',inplace=True)
df_pclass
df_survived_plcass  = df_train.Pclass[df_train.Survived == 1.0].value_counts().reset_index()
df_survived_plcass.columns = ['Pclass','Pclass_survived_count']
df_survived_plcass.sort_values(by='Pclass',inplace=True)
df_survived_plcass['survived_ratio'] = df_survived_plcass['Pclass_survived_count']/df_pclass['Pclass_count']
df_survived_plcass['Pclass_count'] = df_pclass['Pclass_count']
df_survived_plcass

   Pclass  Pclass_survived_count  survived_ratio  Pclass_count
0     1.0                    136        0.276986           491
2     2.0                     87        0.472826           184
1     3.0                    119        0.550926           216

In [9]:
df_train.head(100)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.00,1.0,0.0,7.2500
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1.0,0.0,71.2833
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.00,0.0,0.0,7.9250
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1.0,0.0,53.1000
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.00,0.0,0.0,8.0500
5,6.0,0.0,3.0,"Moran, Mr. James",male,32.00,0.0,0.0,8.4583
6,7.0,0.0,1.0,"McCarthy, Mr. Timothy J",male,54.00,0.0,0.0,51.8625
7,8.0,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.00,3.0,1.0,21.0750
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0.0,2.0,11.1333
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1.0,0.0,30.0708
10,11.0,1.0,3.0,"Sandstrom, Miss. Marguerite Rut",female,4.00,1.0,1.0,16.7000
11,12.0,1.0,1.0,"Bonnell, Miss. Elizabeth",female,58.00,0.0,0.0,26.5500
12,13.0,0.0,3.0,"Saundercock, Mr. William Henry",male,20.00,0.0,0.0,8.0500
13,14.0,0.0,3.0,"Andersson, Mr. Anders Johan",male,39.00,1.0,5.0,31.2750
14,15.0,0.0,3.0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0.0,0.0,7.8542
15,16.0,1.0,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0.0,0.0,16.0000
16,17.0,0.0,3.0,"Rice, Master. Eugene",male,2.00,4.0,1.0,29.1250
17,18.0,1.0,2.0,"Williams, Mr. Charles Eugene",male,32.00,0.0,0.0,13.0000
18,19.0,0.0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1.0,0.0,18.0000
19,20.0,1.0,3.0,"Masselmani, Mrs. Fatima",female,36.00,0.0,0.0,7.2250
20,21.0,0.0,2.0,"Fynney, Mr. Joseph J",male,35.00,0.0,0.0,26.0000
21,22.0,1.0,2.0,"Beesley, Mr. Lawrence",male,34.00,0.0,0.0,13.0000
22,23.0,1.0,3.0,"McGowan, Miss. Anna ""Annie""",female,15.00,0.0,0.0,8.0292
23,24.0,1.0,1.0,"Sloper, Mr. William Thompson",male,28.00,0.0,0.0,35.5000
24,25.0,0.0,3.0,"Palsson, Miss. Torborg Danira",female,8.00,3.0,1.0,21.0750
25,26.0,1.0,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1.0,5.0,31.3875
26,27.0,0.0,3.0,"Emir, Mr. Farred Chehab",male,32.00,0.0,0.0,7.2250
27,28.0,0.0,1.0,"Fortune, Mr. Charles Alexander",male,19.00,3.0,2.0,263.0000
28,29.0,1.0,3.0,"O'Dwyer, Miss. Ellen ""Nellie""",female,22.00,0.0,0.0,7.8792
29,30.0,0.0,3.0,"Todoroff, Mr. Lalio",male,32.00,0.0,0.0,7.8958
30,31.0,0.0,1.0,"Uruchurtu, Don. Manuel E",male,40.00,0.0,0.0,27.7208
31,32.0,1.0,1.0,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,36.00,1.0,0.0,146.5208
32,33.0,1.0,3.0,"Glynn, Miss. Mary Agatha",female,22.00,0.0,0.0,7.7500
33,34.0,0.0,2.0,"Wheadon, Mr. Edward H",male,66.00,0.0,0.0,10.5000
34,35.0,0.0,1.0,"Meyer, Mr. Edgar Joseph",male,28.00,1.0,0.0,82.1708
35,36.0,0.0,1.0,"Holverson, Mr. Alexander Oskar",male,42.00,1.0,0.0,52.0000
36,37.0,1.0,3.0,"Mamee, Mr. Hanna",male,32.00,0.0,0.0,7.2292
37,38.0,0.0,3.0,"Cann, Mr. Ernest Charles",male,21.00,0.0,0.0,8.0500
38,39.0,0.0,3.0,"Vander Planke, Miss. Augusta Maria",female,18.00,2.0,0.0,18.0000
39,40.0,1.0,3.0,"Nicola-Yarred, Miss. Jamila",female,14.00,1.0,0.0,11.2417
40,41.0,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1.0,0.0,9.4750
41,42.0,0.0,2.0,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.00,1.0,0.0,21.0000
42,43.0,0.0,3.0,"Kraeff, Mr. Theodor",male,32.00,0.0,0.0,7.8958
43,44.0,1.0,2.0,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1.0,2.0,41.5792
44,45.0,1.0,3.0,"Devaney, Miss. Margaret Delia",female,19.00,0.0,0.0,7.8792
45,46.0,0.0,3.0,"Rogers, Mr. William John",male,32.00,0.0,0.0,8.0500
46,47.0,0.0,3.0,"Lennon, Mr. Denis",male,32.00,1.0,0.0,15.5000
47,48.0,1.0,3.0,"O'Driscoll, Miss. Bridget",female,22.00,0.0,0.0,7.7500
48,49.0,0.0,3.0,"Samaan, Mr. Youssef",male,32.00,2.0,0.0,21.6792
49,50.0,0.0,3.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1.0,0.0,17.8000
50,51.0,0.0,3.0,"Panula, Master. Juha Niilo",male,7.00,4.0,1.0,39.6875
51,52.0,0.0,3.0,"Nosworthy, Mr. Richard Cater",male,21.00,0.0,0.0,7.8000
52,53.0,1.0,1.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1.0,0.0,76.7292
53,54.0,1.0,2.0,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.00,1.0,0.0,26.0000
54,55.0,0.0,1.0,"Ostby, Mr. Engelhart Cornelius",male,65.00,0.0,1.0,61.9792
55,56.0,1.0,1.0,"Woolner, Mr. Hugh",male,32.00,0.0,0.0,35.5000
56,57.0,1.0,2.0,"Rugg, Miss. Emily",female,21.00,0.0,0.0,10.5000
57,58.0,0.0,3.0,"Novel, Mr. Mansouer",male,28.50,0.0,0.0,7.2292
58,59.0,1.0,2.0,"West, Miss. Constance Mirium",female,5.00,1.0,2.0,27.7500
59,60.0,0.0,3.0,"Goodwin, Master. William Frederick",male,11.00,5.0,2.0,46.9000
60,61.0,0.0,3.0,"Sirayanian, Mr. Orsen",male,22.00,0.0,0.0,7.2292
61,62.0,1.0,1.0,"Icard, Miss. Amelie",female,38.00,0.0,0.0,80.0000
62,63.0,0.0,1.0,"Harris, Mr. Henry Birkhardt",male,45.00,1.0,0.0,83.4750
63,64.0,0.0,3.0,"Skoog, Master. Harald",male,4.00,3.0,2.0,27.9000
64,65.0,0.0,1.0,"Stewart, Mr. Albert A",male,32.00,0.0,0.0,27.7208
65,66.0,1.0,3.0,"Moubarek, Master. Gerios",male,5.00,1.0,1.0,15.2458
66,67.0,1.0,2.0,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0.0,0.0,10.5000
67,68.0,0.0,3.0,"Crease, Mr. Ernest James",male,19.00,0.0,0.0,8.1583
68,69.0,1.0,3.0,"Andersson, Miss. Erna Alexandra",female,17.00,4.0,2.0,7.9250
69,70.0,0.0,3.0,"Kink, Mr. Vincenz",male,26.00,2.0,0.0,8.6625
70,71.0,0.0,2.0,"Jenkin, Mr. Stephen Curnow",male,32.00,0.0,0.0,10.5000
71,72.0,0.0,3.0,"Goodwin, Miss. Lillian Amy",female,16.00,5.0,2.0,46.9000
72,73.0,0.0,2.0,"Hood, Mr. Ambrose Jr",male,21.00,0.0,0.0,73.5000
73,74.0,0.0,3.0,"Chronopoulos, Mr. Apostolos",male,26.00,1.0,0.0,14.4542
74,75.0,1.0,3.0,"Bing, Mr. Lee",male,32.00,0.0,0.0,56.4958
75,76.0,0.0,3.0,"Moen, Mr. Sigurd Hansen",male,25.00,0.0,0.0,7.6500
76,77.0,0.0,3.0,"Staneff, Mr. Ivan",male,32.00,0.0,0.0,7.8958
77,78.0,0.0,3.0,"Moutal, Mr. Rahamin Haim",male,32.00,0.0,0.0,8.0500
78,79.0,1.0,2.0,"Caldwell, Master. Alden Gates",male,0.83,0.0,2.0,29.0000
79,80.0,1.0,3.0,"Dowdell, Miss. Elizabeth",female,30.00,0.0,0.0,12.4750
80,81.0,0.0,3.0,"Waelens, Mr. Achille",male,22.00,0.0,0.0,9.0000
81,82.0,1.0,3.0,"Sheerlinck, Mr. Jan Baptist",male,29.00,0.0,0.0,9.5000
82,83.0,1.0,3.0,"McDermott, Miss. Brigdet Delia",female,22.00,0.0,0.0,7.7875
83,84.0,0.0,1.0,"Carrau, Mr. Francisco M",male,28.00,0.0,0.0,47.1000
84,85.0,1.0,2.0,"Ilett, Miss. Bertha",female,17.00,0.0,0.0,10.5000
85,86.0,1.0,3.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3.0,0.0,15.8500
86,87.0,0.0,3.0,"Ford, Mr. William Neal",male,16.00,1.0,3.0,34.3750
87,88.0,0.0,3.0,"Slocovski, Mr. Selman Francis",male,32.00,0.0,0.0,8.0500
88,89.0,1.0,1.0,"Fortune, Miss. Mabel Helen",female,23.00,3.0,2.0,263.0000
89,90.0,0.0,3.0,"Celotti, Mr. Francesco",male,24.00,0.0,0.0,8.0500
90,91.0,0.0,3.0,"Christmann, Mr. Emil",male,29.00,0.0,0.0,8.0500
91,92.0,0.0,3.0,"Andreasson, Mr. Paul Edvin",male,20.00,0.0,0.0,7.8542
92,93.0,0.0,1.0,"Chaffee, Mr. Herbert Fuller",male,46.00,1.0,0.0,61.1750
93,94.0,0.0,3.0,"Dean, Mr. Bertram Frank",male,26.00,1.0,2.0,20.5750
94,95.0,0.0,3.0,"Coxon, Mr. Daniel",male,59.00,0.0,0.0,7.2500
95,96.0,0.0,3.0,"Shorney, Mr. Charles Joseph",male,32.00,0.0,0.0,8.0500
96,97.0,0.0,1.0,"Goldschmidt, Mr. George B",male,71.00,0.0,0.0,34.6542
97,98.0,1.0,1.0,"Greenfield, Mr. William Bertram",male,23.00,0.0,1.0,63.3583
98,99.0,1.0,2.0,"Doling, Mrs. John T (Ada Julia Bone)",female,34.00,0.0,1.0,23.0000
99,100.0,0.0,2.0,"Kantor, Mr. Sinai",male,34.00,1.0,0.0,26.0000

In [19]:
df_train['Family_size'] = df_train['SibSp'] + df_train['Parch']
df_family_size = df_train.Family_size.value_counts().reset_index()
df_family_size.columns = ['Family_size','Family_size_count']
df_family_size.sort_values(by='Family_size',inplace=True)
df_family_size
df_survived_family_size  = df_train.Family_size[df_train.Survived == 1.0].value_counts().reset_index()
df_survived_family_size.columns = ['Family_size','Family_size_survived_count']
df_survived_family_size.sort_values(by='Family_size',inplace=True)
df_survived_family_size['survived_ratio'] = df_survived_family_size['Family_size_survived_count']/df_family_size['Family_size_count']
df_survived_family_size['Family_size_count'] = df_family_size['Family_size_count']
df_survived_family_size

   Family_size  Family_size_survived_count  survived_ratio  Family_size_count
0          0.0                         163        0.303538                537
1          1.0                          89        0.552795                161
2          2.0                          59        0.578431                102
3          3.0                          21        0.724138                 29
5          4.0                           3        0.200000                 15
6          5.0                           3        0.250000                 12
4          6.0                           4        0.181818                 22

In [29]:
df_test['Family_size'] = df_test['SibSp'] + df_test['Parch']
df_family_size = df_test.Family_size.value_counts().reset_index()
df_family_size.columns = ['Family_size','Family_size_count']
df_family_size.sort_values(by='Family_size',inplace=True)
df_family_size
df_survived_family_size  = df_test.Family_size[df_train.Survived == 1.0].value_counts().reset_index()
df_survived_family_size.columns = ['Family_size','Family_size_survived_count']
df_survived_family_size.sort_values(by='Family_size',inplace=True)
df_survived_family_size['survived_ratio'] = df_survived_family_size['Family_size_survived_count']/df_family_size['Family_size_count']
df_survived_family_size['Family_size_count'] = df_family_size['Family_size_count']
df_survived_family_size

   Family_size  Family_size_survived_count  survived_ratio  Family_size_count
0          0.0                         106        0.418972                253
1          1.0                          28        0.378378                 74
2          2.0                          21        0.368421                 57
4          3.0                           3        0.428571                  7
3          4.0                           3        0.214286                 14
5          5.0                           2        0.500000                  4

In [31]:
#df_train.drop(inplace=True,labels=['SibSp','Parch'],axis=1)
df_test.drop(inplace=True,labels=['SibSp','Parch'],axis=1)

In [26]:
x_fit = svm.LinearSVC()
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Fare',
       'Family_size'],
      dtype='object')

In [28]:
x_fit.fit(df_train[['Age','Pclass','Family_size']],y=df_Survived)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [32]:
x_fit.predict(df_test[['Age','Pclass','Family_size']])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0])

In [38]:
clf = svm.SVC(kernel='linear',C =0.1)
clf.fit(df_train[['Age','Pclass','Family_size']],df_Survived)
test_value_predict = clf.predict(df_test[['Age','Pclass','Family_size']])
test_value = pd.DataFrame(test_value_predict)
#print(metrics.log_loss(y_true=df_Survived,y_pred=df_train[['Age','Pclass','Family_size']]))
test_value.columns = ['Survived']
test_value.insert(0,'PassengerId',pd.Series(np.arange(892,1310,1),index= test_value.index))
test_value.to_csv(path_or_buf='values.csv',index=False)